<div class="Container">
  <hr>
        <div class="grid">
                <div class="grid__item one-whole makecontact">
                <a href="mailto:contact@bravetheskies.com">contact@bravetheskies.com</a> / +44 (0)1904 211088
                </div>
        </div>
        <footer>

            <div class="grid">
                <div class="grid__item palm--one-whole lap--one-half desk--one-half left">

                    <!--<p><a href="http://instagram.com/bravetheskies" target="_blank">Instagram</a> — <a href="https://twitter.com/bravetheskies" target="_blank">Twitter</a>
                    </p>-->
                     <span class="address">Brave the Skies LTD</br>9 Barleycorn Yard, York, YO1 9TX</span>
                </div><!--


                 --><div class="grid__item palm--one-whole lap--one-half desk--one-half right">
                <a href="https://experts.shopify.com/brave-the-skies"><img src="img/shopifyexpertsblack.png" class="experts" align="bottom"></a>
                </div>
            </div>

        </footer>
</div>
