<header id="header">
    <div class="Container wide">
<div class="grid">
        <div class="grid__item palm--one-half lap--one-quarter desk--one-quarter left">
<img src="/img/btslogo.svg" class="logo">
        </div><!--
       --><div class="grid__item palm--one-half lap--three-quarters desk--three-quarters right">
<div class="contact"><!--<a href="tel:01904 211088" class="link">01904 211088</a>--> <a href="mailto:contact@bravetheskies.com" class="link">Make Contact</a></div>
        </div>
</div>
</header>
