<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <!-- SLIDER STARTS -->
        <div class="Wallop Wallop--fade">
            <div class="Wallop-list">
               <div class="Wallop-item brave">
                    <div class="cellholder">
                       <div class="cell bottom"><h1>Brave</h1></div>
                    </div>
                </div>
                <div class="Wallop-item the">
                    <div class="cellholder">
                       <div class="cell middle"><h1>the</h1></div>
                    </div>
                </div>
                <div class="Wallop-item skies">
                    <div class="cellholder">
                        <div class="cell top">
                        <div class="apeface"></div>
                        <h1>Skies</h1>
                        </div>
                    </div>
                </div>
                <div class="Wallop-item skies">
                    <div class="cellholder">
                        <div class="cell top">
                        <div class="apeface"></div>
                        <h1>Skies</h1>
                        </div>
                    </div>
                </div>

            </div>
             <a href="#main" class="link_classname about">Briefing</a>
             <a href="https://experts.shopify.com/brave-the-skies" class="shopify"><img src="img/shopifyexperts.png"></a>
        </div>
        <!-- SLIDER ENDS -->

    <div id="main" class="Container">
        {{ content }}
    </div>

    {% include footer.html %}
    {% include scripts.html %}
  </body>

</html>
